body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

body::before {
    background: url("img/thlistbg.webp") center center/cover no-repeat;
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    filter: blur(10px);
    transform: scale(1.05);
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1;
}

header {
    text-align: center;
    font-size: 2rem;
}