body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

body::before {
    background: url("img/bg.webp") center center/cover no-repeat;
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    filter: blur(10px);
    transform: scale(1.05);
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1;
}

header {
    text-align: center;
    font-size: 2rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

.game {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 1.5rem 3rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

.characters {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.character {
    border: 2px solid black;
    border-radius: 10px;
    max-width: 200px;
}

.character img {
    height: 244px;
    width: 128px;
}

.character:hover {
    background-color: #d5d5d5;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}